<nav class="text-center text-lg-start bg-light text-muted">
    <div class="footer navbar-light bg-light">
        <ul>
            <li><a href="">Become a Seller</a></li>
            <li><a href="">Policies</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Help Center</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Youtube</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
        <div class="text-center">
            © 2023 Ecommerce Project
        </div>
    </div>
</nav>